<th:block th:fragment="cafeHeader(cafe)">
    <header class="py-5 bg-light border-bottom mb-4 page-header-bg" th:style="'background-image: url(' + ${cafe.cafeImage} + ');'">
        <div class="page-header-overlay"></div>
        <div class="container px-4 px-lg-5 my-5 page-header-content text-white">
            <div class="text-center">
                <h1 class="fw-bolder" th:text="${cafe.name}">카페 이름</h1>
            </div>
        </div>
    </header>

    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cafe/{cafeId}(cafeId=${cafe.id})}">카페 홈</a>
                        </li>
                        <li class="nav-item" th:if="${cafe.isMember}">
                            <a class="nav-link" th:href="@{/cafe/{cafeId}/posts(cafeId=${cafe.id})}">게시글</a>
                        </li>
                        <li class="nav-item" th:if="${cafe.isMember}">
                            <a class="nav-link" th:href="@{/cafe/{cafeId}/meetings(cafeId=${cafe.id})}">모임목록</a>
                        </li>
                        <li class="nav-item" th:if="${cafe.isMember}">
                            <a class="nav-link" th:href="@{/cafe/{cafeId}/meeting/review/list(cafeId=${cafe.id})}">모임후기</a>
                        </li>
                        <li class="nav-item" th:if="${cafe.isOwner}">
                            <a class="nav-link" th:href="@{/cafe/my/cafe/{cafeId}/joinRequests(cafeId=${cafe.id})}">가입 신청 목록</a>
                        </li>
                    </ul>
                    <div th:if="${cafe.isMember and !cafe.isOwner}" class="ms-auto">
                        <form th:action="@{/api/cafe/{cafeId}/leave(cafeId=${cafe.id})}" method="post" id="leaveForm">
                            <button type="button" class="btn btn-outline-danger" onclick="confirmLeave()">카페 탈퇴</button>
                        </form>
                    </div>
                    <div th:unless="${cafe.isMember}">
                        <form th:action="@{/cafe/{cafeId}/join(cafeId=${cafe.id})}" method="post" id="joinRequestForm">
                            <button type="button" class="btn btn-outline-success" onclick="requestCafeJoin()">가입신청</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</th:block>