<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tab.html}">

<div layout:fragment="content">
    <h1>Meeting List</h1>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Meeting List
                </div>
                <div class="card-body" >
                    <h5 class="card-title">Meeting List </h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Writer</th>
                            <th scope="col">meetingDate</th>
                        </tr>
                        </thead>
                        <tbody th:with="link = ${pageRequestDTO.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <th scope="row">[[${dto.id}]]</th>
                            <td>
                                <a th:href="|@{/meeting/read(id = ${dto.id})}&${link}|" class="text-decoration-none">[[${dto.title}]]</a>
                            </td>
                            <td>[[${dto.organizerName}]]</td>
                            <td>[[${#temporals.format(dto.meetingDate, 'yyyy-MM-dd')}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <form id="pageForm" action="/meeting/list" method="get">
                        <input type="hidden" name="page" th:value="${responseDTO.page}" />
                        <input type="hidden" name="cafeId" th:value="${cafeResponse.id}" />
                    </form>

                    <div>
                        <button type="button" class="btn btn-primary registerBtn" th:data-cafe-id="${cafeResponse.id}">Register</button>
                        <div class="float-end">
                            <ul class="pagination flex-wrap">
                                <li class="page-item" th:if="${responseDTO.prev}">
                                    <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                                </li>
                                <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                    <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
                                        <a class="page-link"  th:data-num="${i}">[[${i}]]</a>
                                    </li>
                                </th:block>
                                <li class="page-item" th:if="${responseDTO.next}">
                                    <a class="page-link"  th:data-num="${responseDTO.end + 1}">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <script layout:fragment="script" th:inline="javascript">
                    console.log("meetingList....")

                    const result = [[${result}]]
                    if(result) {
                        alert("게시글이 등록되었습니다.")
                    }

                    document.querySelector(".registerBtn").addEventListener("click", function (e) {
                        const cafeId = this.getAttribute("data-cafe-id");
                        if (cafeId) {
                            self.location = `/meeting/register?cafeId=${cafeId}`;
                        } else {
                            alert("카페 정보를 찾을 수 없습니다.");
                        }
                    }, false)

                    document.querySelector(".pagination").addEventListener("click", function (e) {
                        e.preventDefault()
                        e.stopPropagation()

                        const target = e.target

                        if(target.tagName !== "A") {
                            return
                        }
                        const num = target.getAttribute("data-num")
                        const formObj = document.querySelector("form")
                        formObj.querySelector("input[name=page]").value = num;
                        formObj.submit();
                    }, false)
                </script>
            </div>
        </div>
    </div>
</div>