<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tab.html}">

<head>
    <title>Meeting Modify</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Meeting Modify
                </div>
                <div class="card-body">
                    <form th:action="@{/cafe/{cafeId}/meeting/modify(cafeId=${cafeResponse.id})}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">id</span>
                            <input type="text" class="form-control" th:value="${dto.id}" name="id" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" class="form-control" name="title" th:value="${dto.title}">
                        </div>



                        <div class="input-group mb-3" th:if="*{dto.cafe != null}">
                            <span class="input-group-text" >Category</span>
                            <input type="text" class="form-control" placeholder="Category" readonly th:value="*{dto.cafe.category}">
                        </div>
                        <div class="input-group mb-3" th:if="*{dto.cafe != null}">
                            <span class="input-group-text">Cafe</span>
                            <input type="hidden" th:field="*{dto.cafe.id}" />
                            <input type="text" class="form-control" placeholder="Cafe" th:value="*{dto.cafe.name}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" name="organizer" class="form-control" th:value="${#authentication.principal.username}" readonly>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text">meetingDate</span>
                            <input type="datetime-local" name="meetingDate" th:value="*{dto.meetingDate}" class="form-control" placeholder="DateTime">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Location</span>
                            <input type="text" name="location" class="form-control" th:value="${dto.location}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Address</span>
                            <input type="text" th:field="*{dto.address}" id="address" class="form-control" placeholder="주소" >
                            <button type="button" onclick="execDaumPostcode()" class="btn btn-outline-secondary">주소 찾기</button>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" th:field="*{dto.content}"></textarea>
                        </div>


                        <div class="form-check">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{dto.visibility}" id="public" value="PUBLIC">
                                <label class="form-check-label" for="public">공개</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{dto.visibility}" id="private" value="PRIVATE">
                                <label class="form-check-label" for="private">비공개</label>
                            </div>
                        </div>
<!--                        <div class="form-check">-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" th:field="*{visibility}" id="public" value="PUBLIC">-->
<!--                                <label for="public">공개</label>-->
<!--                            </div>-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" th:field="*{visibility}" id="private" value="PRIVATE">-->
<!--                                <label for="private">비공개</label>-->
<!--                            </div>-->
<!--                        </div>-->


                        <div class="form-check">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{dto.recruiting}" id="ing" value="ING">
                                <label class="form-check-label" for="ing">모집 중</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" th:field="*{dto.recruiting}" id="end" value="END">
                                <label class="form-check-label" for="end">모집 마감</label>
                            </div>
                        </div>


                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">List</button>
                                <button type="button" class="btn btn-secondary modBtn">Modify</button>
                                <button type="button" class="btn btn-danger removeBtn">Remove</button>
                            </div>
                        </div>
                    </form>


                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 함수 이름을 execDaumPostcode()로 통일
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = data.address;
                    document.getElementById("address").value = addr;
                }
            }).open();
        }
    </script>

</div>

<script layout:fragment="script" th:inline="javascript">
    console.log("meetingModify....")

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }


    const link = [[${pageRequestDTO.getLink()}]]
    const cafeId = [[${cafeResponse.getId()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/cafe/${cafeId}/meeting/modify?${link}`
        formObj.method = 'post'
        formObj.submit()
    }, false)

    document.querySelector(".removeBtn").addEventListener("click", function (e) {
        e.stopPropagation()
        e.preventDefault()

        formObj.action = `/cafe/${cafeId}/meeting/remove`
        formObj.method = 'post'
        formObj.submit()
    }, false)

    document.querySelector(".listBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/cafe/${cafeId}/meetings?${link}`
    }, false)

</script>