<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/tab.html}">

<div layout:fragment="content">
    <h1>Meeting Detail</h1>

    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text">Id</span>
            <input type="text" class="form-control" th:value="${dto.id}" readonly>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" class="form-control" th:value="${dto.title}" readonly>
        </div>

        <div class="input-group mb-3" th:if="*{cafe != null}">
            <span class="input-group-text" >Category</span>
            <input type="text" class="form-control" placeholder="Category" readonly th:value="*{cafe.category}">
        </div>
        <div class="input-group mb-3" th:if="*{cafe != null}">
            <span class="input-group-text">Cafe</span>
            <input type="hidden" th:field="*{cafe.id}" />
            <input type="text" class="form-control" placeholder="Cafe" th:value="*{cafe.name}" readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Cafe</span>
            <input type="text" class="form-control" th:value="${dto.cafe}" readonly>
        </div>


<!--        <div class="input-group mb-3">-->
<!--            <span class="input-group-text">Writer</span>-->
<!--            <input type="text" name="organizer" class="form-control" th:value="${#authentication.principal.username}" readonly>-->
<!--        </div>-->
        <div class="input-group mb-3">
            <span class="input-group-text">Writer</span>
            <input type="text" class="form-control" th:value="${dto.organizer}" readonly>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text">MeetingDate</span>
            <input type="datetime-local" class="form-control" th:value="${dto.meetingDate}" readonly>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Address</span>
            <input type="text" class="form-control" th:value="${dto.addressId}" readonly>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text">Content</span>
            <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
        </div>


        <div>
            <span th:text="${dto.recruiting} ? '모집 마감' : '모집 중'"></span>
        </div>
<!--        <div class="form-check">-->
<!--            <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="radio" name="recruiting" id="end" value="true"-->
<!--                       th:checked="${dto.recruiting == true}" disabled>-->
<!--                <label class="form-check-label" for="end">모집 마감</label>-->
<!--            </div>-->
<!--            <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="radio" name="recruiting" id="ing" value="false"-->
<!--                       th:checked="${dto.recruiting == false}" disabled>-->
<!--                <label class="form-check-label" for="ing">모집 중</label>-->
<!--            </div>-->
<!--        </div>-->


        <div class="my-4">
            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                <a th:href="|@{/meeting/list}?${link}|" class="text-decoration-none">
                    <button type="button" class="btn btn-primary">List</button>
                </a>
                <a th:href="|@{/meeting/modify(id=${dto.id})}&${link}|" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary">Modify</button>
                </a>
            </div>
        </div>

        <!--        <div class="my-4" th:with="user=${#authentication.principal}">-->
        <!--            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">-->
        <!--                <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">-->
        <!--                    <button type="button" class="btn btn-primary">List</button>-->
        <!--                </a>-->
        <!--                <a th:if="${user != null && user.username == dto.writer}"-->
        <!--                   th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">-->
        <!--                    <button type="button" class="btn btn-secondary">Modify</button>-->
        <!--                </a>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>


    <script layout:fragment="script" th:inline="javascript">
        document.querySelector(".btn-primary").addEventListener("click", function (e) {
            self.location = `/board/modify?tno=${dto.tno}&${pageRequestDTO.link}`
        },false)

        document.querySelector(".btn-secondary").addEventListener("click", function (e) {
            self.location = `/board/list?${pageRequestDTO.link}`
        }, false)

    </script>