<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8" />
    <title>Trade Register</title>
    <th:block layout:fragment="page-styles">
        <link rel="stylesheet"
              th:href="@{/css/style.css(v=${#dates.createNow().time})}">
    </th:block>
</head>
<body>

<!-- 헤더 -->
<header id="header">
    <!-- 로고 -->
    <div id="logo">
        <img id="logo_img" src="#">
    </div>

    <!-- 검색 바 -->
    <form class="search_bar" action="#" method="get">
        <div class="input_box">
            <i class="fa-solid i1 fa-magnifying-glass" aria-hidden="true"></i>
            <input class="search_text" type="text" name="q" placeholder="검색어를 입력하세요" />
        </div>
    </form>

    <!-- 로그인 -->
    <div class="login">
        <a href="#"><span>로그인</span></a>
    </div>

    <!-- 상단 리스트 -->
    <nav class="list_bar" aria-label="상단 메뉴">
        <ul class="t_list">
            <!-- 카페랑 모임부분 작성하기 -->
            <li><a href="#"  class="menu-link" id="menu-cafe"><span>카페 목록</span></a></li>
            <li><a href="#" class="menu-link" id="menu-group"><span>모임 목록</span></a></li>
            <li><a href="/trade/list" class="menu-link" id="menu-trade"><span>중고거래</span></a></li>
        </ul>
    </nav>
</header>

<section layout:fragment="content">
    <div class="page-container">
        <form class="trade-form" id="tradeForm"
              th:action="@{/trade/register}" method="post" enctype="multipart/form-data">

            <input type="hidden"
                   th:if="${_csrf != null}"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />


            <!-- 제목 -->
            <div class="mb-2">
                <input name="title" class="form-control" placeholder="제목" required maxlength="100" />
            </div>

            <!-- 가격 -->
            <div class="mb-2">
                <input name="price" type="number" class="form-control" placeholder="가격" min="0" required />
            </div>

            <!--  작성자 닉네임 -->
            <div class="mb-2">
                <input name="writer" class="form-control"
                       placeholder="작성자 닉네임" readonly/>


            </div>
            <!-- 내용 -->
            <div class="mb-3">
                <div class="content-box">
                    <textarea name="content" placeholder="내용" required></textarea>
                </div>
            </div>

            <!-- 사진 업로드 -->
            <div class="image-uploader">
                <div class="image-toolbar">
                    <div class="upload-tile" id="uploadTile">사진 +<br>(최대10장)</div>
                    <span class="image-count"><span id="count">0</span> / 10</span>
                </div>
                <input id="fileInput" type="file" accept="image/*" multiple hidden />
                <div class="image-list" id="imageList"></div>
            </div>

            <!-- 액션 -->
            <div class="actions">
                <button class="btn-primary-like" type="submit">등록</button>
                <a th:href="@{/trade/list}" class="btn-outline-like">취소</a>
            </div>
        </form>
    </div>
</section>

<!--<th:block layout:fragment="page-scripts">-->
<!--    <script th:src="@{/js/img.js}" defer></script>-->
<!--</th:block>-->
<script src="js/img.js"></script>

</body>
</html>
